{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="{% static 'css/images/football-2-svgrepo-com.svg' %}"/>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <title>Football Tracker</title>
        {% block head %}
        {% endblock  %}
        </head>
    <body>
        <header>
            <div class="header-logo-container">
              <a href="/">
                <img src="{% static 'css/images/header-logo.svg' %}" alt="Football Tracker Logo" class="header-logo"/>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'team-index' %}">all teams</a></li>
                    <li><a href="{% url 'player-index' %}">All Players</a></li>
                    <li><a href="{% url 'team-create' %}">Add a team</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'player-create' %}">Add a Player</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        </body>
</html>