{% extends 'base.html' %} 
{% load static %} 

{% block head %} 
    <link rel="stylesheet" href="{% static 'css/teams/team-detail.css' %}" /> 
{% endblock %} 

{% block content %}
<section class="team-container">
  <div class="team-img">
    <img src="{% static 'css/images/football-player-soccer-player-svgrepo-com.svg' %}" alt="{{ team.name }} logo" class="team-logo"/>
  </div>
  <div class="team-details">
    <h1>{{ team.name }}</h1>
    {% if team.country %}
      <h2>A football team based in {{ team.country }}</h2>
    {% else %}
      <h2>Country information is not available.</h2>
    {% endif %}
    <p>{{ team.coach_name }}</p>

    <div class="c-actions">
      <a href="{% url 'team-update' team.id %}" class="btn warn">Edit</a>
      <a href="{% url 'team-delete' team.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="matches-player-container">
  <section class="matches">
    <div class="subsection-title">
      <h2>Matches</h2>
    </div>

    <!-- Add a Match Form -->
    <h3>Add a Match</h3>
    <form
      action="{% url 'add-match' team.id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %} 
      {{ match_form.as_p }}
      <button type="submit" class="btn submit">Add Match</button>
    </form>

    <!-- Past Matches Section -->
    <h3>Past Matches</h3>
    {% if team.home_matches.all.count %}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for match in team.home_matches.all %}
          <tr>
            <td>{{ match.date }}</td>
            <td>{{ match.home_team.name }}</td>
            <td>{{ match.away_team.name }}</td>
            <td>{{ match.home_score }} - {{ match.away_score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>⚠️ No matches played yet for {{ team.name }}!</p>
      </div>
    {% endif %}

  </section>
</div>

{% endblock %}
