{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/teams/team-index.css' %}" />
{% endblock  %}

{% block content %}
   <section class="page-header">
      <h1>All Teams</h1>
      <img src="{% static 'css/images/football-player-spain-svgrepo-com.svg' %}" alt="Football Icon" class="header-icon"/>

      <img src="{% static 'css/images/football-svgrepo-com(1).svg' %}" alt="Football Icon" class="header-icon"/>

      <img src="{% static 'css/images/football-svgrepo-com.svg' %}" alt="Football Icon" class="header-icon"/>

      <img src="{% static 'css/images/football-svgrepo-com(2).svg' %}" alt="Football Icon" class="header-icon"/>