{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="profile-section">
  <div class="profile-card">
    <h2>👤 My Profile</h2>
     <div class="profile-title">UserName: <strong>{{ user.username }}</strong></div>
    <div class="profile-title">Email:  <strong>{{ user.email }}</strong></div>
{% comment %} 
    <form method="POST">
      {% csrf_token %}
      {{ user_form.as_p }}

      <button type="submit" class="btn">Save Changes</button>
    </form> {% endcomment %}

    <hr>

    <div class="profile-actions">
      <a href="{% url 'password_change' %}" class="btn">Change Password</a>
      <a href="{% url 'team-index' %}" class="btn">My Teams</a>
      <a href="{% url 'player-index' %}" class="btn">My Players</a>
    </div>
  </div>
</section>
{% endblock %}
